@import '../../styles/mixins';

.product_card {
  // justify-content: center;
  // align-items: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  background-color: #DDDDDD;
  margin: 6rem 2rem;
  padding: 3rem;
  position: relative;
}

.product_card_image {
  position: absolute;
  top: -4.5rem;
  width: auto; 
  height: 150px;
  //gets ignored when i dont use inherit
  padding-bottom: inherit;  
  bottom: auto;
}

.product_card_name {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
}




