.main_img {
  max-width: 100%; // makes the image to fit to 100% of the width provided: 
  height: auto ; 
}

.home_page {
  position: relative;
  text-align: center;
}

.intro_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}