@use 'src/styles/_colors.scss';

.home_background {
  background-color: colors.$main_background; 
}

// .main_page {
//   height: 100vh !important;
// }

.navbar_top {
  padding: 30px;
  align-items: center;
  display: flex;
}

.humbuger_icon {
  padding-right: 3rem;
}

.cart_icon {
  margin-left: auto;
}